<nz-layout class="layout" style="height:100%;overflow:hidden">
  <app-header></app-header>
  <div style="display:flex;height:100%">
    <app-sidebar-main></app-sidebar-main>
    <div style="display:flex; flex:1">
      
        <app-sidebar-sec></app-sidebar-sec>
        <div style="flex:1">
          <nz-content style="background:#fff; padding: 24px;height: 100%;overflow-y:auto" id="layout_content">
              <router-outlet></router-outlet>
          </nz-content>
        </div>
      </div>
  </div>
</nz-layout>
